/*================================
	@media > 1015px (notebooks/desktops)
================================*/

@media (max-width: 1015px) {
	#menu {
		display: none;
	}

	#mobile-nav {
    	display: block;
		float: right;
	}

	#menu-nav-mobile {
		margin: 0;
	}

	header .sticky-nav #mobile-nav,
	header .sticky-nav.stuck #mobile-nav {
		margin-right: 20px;
	}

}
/*================================
	End of @media > 1015px (notebooks/desktops)
================================*/

/*================================
	@media = 768-980px (tablet/notebooks)
================================*/
@media (min-width: 768px) and (max-width: 980px) {
	#menu {
		display: none;
	}

	#mobile-nav {
    	display: block;
		float: right;
	}

	#menu-nav-mobile {
		margin: 0;
	}

	header .sticky-nav #mobile-nav,
	header .sticky-nav.stuck #mobile-nav {
		margin-right: 20px;
	}

	#social-area #social ul li {
		margin-left: 15px;
	}

	#social-area #social ul li a {
		width: 50px;
		height: 50px;
	}

	#social-area #social ul li a span {
		font-size: 24px;
		line-height: 50px;
	}

	#twitter-feed {
		padding-top: 110px;
		padding-bottom: 110px;
	}

	.info-block a.button {
    	margin-top: 20px;
    	position: inherit;
	}

	.info-text {
		padding-right: 0;
	}

	.kokeshi {
		clear: both;
	}

	/*================================
		Supersized Image/Slider
	================================*/
		#supersized li.activeslide img{
			left: -150% !important;
		}
	/*================================
		End of Supersized Image/Slider
	================================*/
}

/*================================
	End of @media = 768-980px (tablet/notebooks)
================================*/

/*================================
	@media = 481-767px (tablet)
================================*/
@media (min-width: 481px) and (max-width: 767px) {
	#menu {
		display: none;
	}

	#mobile-nav {
    	display: block;
		float: right;
	}©

	#menu-nav-mobile {
		margin: 0;
	}

	header .sticky-nav #mobile-nav,
	header .sticky-nav.stuck #mobile-nav {
		margin-right: 20px;
	}


	#back-to-top {
		display: none !important;
	}

	#home-slider {
		margin-left: -20px;
		margin-right: -20px;
	}

	header .sticky-nav,
	#navigation-mobile,
	.page,
	.page-alternate,
	#twitter-feed,
	footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}

	header .sticky-nav #logo {
		margin-left: 20px;
	}

	header .sticky-nav #menu {
		margin-right: 0;
	}

	header .sticky-nav.stuck #menu {
		margin-right: 20px;
	}

	#menu {
		display: none;
	}

	#mobile-nav {
    	display: block;
		float: right;
	}

	#menu-nav-mobile {
		margin-left: -20px;
		margin-right: -20px;
		margin-bottom: 0;
	}

	header .sticky-nav.stuck #mobile-nav {
		margin-right: 20px;
	}

	.work-nav {
		margin-bottom: 30px;
	}

	.type-work {
		background: url(../img/filter-icon.png) no-repeat;
		width: 16px;
		height: 16px;
		display: inline-block;
		text-indent: -9999px;
		margin-bottom: 0;
		position: relative;
		line-height: 10px;
	}

	.work-nav #filters,
	.work-nav #filters li {
		display: inline-block;
	}

	.work-nav #filters li {
		margin:0 10px 0 0;
	}

	.work-nav #filters li a {
		font-size: 13px;
		text-transform: uppercase;
	}

	#about .profile {
		margin-bottom: 30px;
	}

	#about .profile:last-child {
		margin-bottom: 0;
	}

	#response {
		margin-bottom: 30px;
	}

	.contact-details {
		border-top: 1px dashed #3C3F45;
		padding-top: 30px;
		text-align: center;
	}

	#contact-form .submit {
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	#social-area #social ul li:first-child,
	#social-area #social ul li {
		margin: 15px;
	}

	#social-area #social ul li a {
		width: 50px;
		height: 50px;
	}

	#social-area #social ul li a span {
		font-size: 24px;
		line-height: 50px;
	}

	#twitter-feed {
		padding-top: 90px;
		padding-bottom: 100px;
	}

	#ticker .tweet_list li {
		font-size: 16px;
		line-height: 24px;
	}

	#ticker .tweet_list .tweet_time a {
		font-size: 13px;
		margin-left: 5px;
	}

	.info-block a.button {
    	margin-top: 20px;
    	position: inherit;
		display: block;
	}

	.info-text {
		padding-right: 0;
	}

	.kokeshi {
		clear: both;
	}

	/*================================
		Supersized Image/Slider
	================================*/
		#supersized li.activeslide img{
			left: -150%;
		}
	/*================================
		End of Supersized Image/Slider
	================================*/
}

/*================================
	End of @media = 481-767px (tablet)
================================*/

/*================================
	@media = 480px (phone+tablet)
================================*/
@media (max-width: 480px) {
	#back-to-top {
		display: none !important;
	}

	#home-slider {
		margin-left: -20px;
		margin-right: -20px;
	}

	#home-slider ul#slide-list {
		display: none;
	}

	header .sticky-nav,
	#navigation-mobile,
	.page,
	.page-alternate,
	#twitter-feed,
	footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}

	header .sticky-nav #logo {
		margin-left: 20px;
	}

	header .sticky-nav #menu {
		margin-right: 0;
	}

	header .sticky-nav.stuck #menu {
		margin-right: 20px;
	}

	#menu {
		display: none;
	}

	#mobile-nav {
    	display: block;
		float: right;
	}

	#menu-nav-mobile {
		margin-left: -20px;
		margin-right: -20px;
		margin-bottom: 0;
	}

	#navigation-mobile li a {
		font-size: 14px;
		padding: 12px 0;
	}

	header .sticky-nav.stuck #mobile-nav {
		margin-right: 20px;
	}

	.work-nav {
		margin-bottom: 30px;
	}

	.type-work {
		background: url(../img/filter-icon.png) no-repeat;
		width: 16px;
		height: 16px;
		display: inline-block;
		text-indent: -9999px;
		margin-bottom: 0;
		position: relative;
		line-height: 10px;
	}

	.work-nav #filters li:first-child {
		margin-left: 0;
	}

	.work-nav #filters,
	.work-nav #filters li {
		display: inline-block;
	}

	.work-nav #filters li {
		margin:0 10px 0 0;
	}

	.work-nav #filters li a {
		font-size: 13px;
		text-transform: uppercase;
	}

	#about .profile {
		margin-bottom: 30px;
	}

	#about .profile:last-child {
		margin-bottom: 0;
	}

	#response {
		margin-bottom: 30px;
	}

	.contact-details {
		border-top: 1px dashed #3C3F45;
		padding-top: 30px;
		text-align: center;
	}

	#contact-form .submit {
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	#social-area #social ul li:first-child,
	#social-area #social ul li {
		margin: 15px;
	}

	#social-area #social ul li a {
		width: 50px;
		height: 50px;
	}

	#social-area #social ul li a span {
		font-size: 24px;
		line-height: 50px;
	}

	#twitter-feed {
		padding-top: 90px;
		padding-bottom: 100px;
	}

	#ticker .tweet_list li {
		font-size: 14px;
		line-height: 22px;
	}

	#ticker .tweet_list .tweet_time a {
		font-size: 12px;
		margin-left: 3px;
	}

	.info-block a.button {
    	margin-top: 20px;
    	position: inherit;
		display: block;
	}

	.info-text {
		padding-right: 0;
	}

	.kokeshi {
		clear: both;
	}
	/*================================
	Supersized Image/Slider
	================================*/
	#supersized li.activeslide img {
		left: -180%;
	}

	/*================================
		End of Supersized Image/Slider
	================================*/

	/* course option details (fancybox) */
	.fancybox-inner {
		display: none;
	}

	.fancybox-close i {
		left: 20px;
		top: 45px;
	}
	/* end of course option details */
}

/*================================
	End of @media = 480px (phone+tablet)
================================*/

/*================================
	@media = 360px (smartphones)
	Exclusively for home image.
================================*/
@media (max-width: 360px) {
	#supersized li.activeslide img {
		left: -240%;
	}
}

/*================================
	End of @media = 360px (smartphones)
================================*/

/*================================
	@media = 320px (smartphones)
================================*/

@media (max-width: 320px) {
	.work-nav #filters li a {
		font-size: 12px;
	}

	#twitter-feed {
		padding-top: 90px;
		padding-bottom: 120px;
	}

	.kokeshi {
		clear: both;
	}
	
	/*================================
	Supersized Image/Slider
	================================*/
	#supersized li.activeslide img {
		left: -180%;
	}

	/*================================
		End of Supersized Image/Slider
	================================*/

	/* course option details (fancybox) */
	.fancybox-inner {
		display: none;
	}

	.fancybox-close i {
		left: 20px;
		top: 30px;
	}
	/* end of course option details */
}

/*================================
	End of @media = 320px (smartphones)
================================*/

/*================================
	Media Height Rules
================================*/

@media (min-height: 1024px) {
	#home-slider .slider-text {
		margin-top: 15%;
	}
}

@media (height: 768px) {
	/*================================
	Supersized Image/Slider
	================================*/
	#supersized li.activeslide img {
		left: -50%;
	}

	/*================================
		End of Supersized Image/Slider
	================================*/
}

/*================================
	Min height to welcome message
	appear at slider-text
	container
================================*/
@media (max-height: 640px) {
	#home-slider .slide-text {
		display: none;
	}

	.welcome {
		display: block;
	}

	/* Hack for item on menu */
	nav#menu #menu-nav li.welcome {
		display: inline-block;
	}
}

@media (max-height: 360px) {
	/*================================
	Supersized Image/Slider
	================================*/
	#supersized li.activeslide img {
		left: -15%;
	}

	/*================================
		End of Supersized Image/Slider
	================================*/
}

@media (max-height: 320px) {
	/*================================
	Supersized Image/Slider
	================================*/
	#supersized li.activeslide img {
		left: -35%;
	}

	/*================================
		End of Supersized Image/Slider
	================================*/
}

/*================================
	End of Media Height Rules
================================*/

/* Retina Display ====================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
 	only screen and (-moz-min-device-pixel-ratio: 2),
  	only screen and (-o-min-device-pixel-ratio: 2/1),
  	only screen and (min-device-pixel-ratio: 2),
  	only screen and (min-resolution: 2dppx) {

	header #logo a {
		/*background-image: url(../img/logo_@2x.png);*/
		background-size: 96px 30px;
	}

	.menu-nav {
		/*background-image: url(../img/menu-mobile_@2x.png);*/
		background-size: 16px 32px;
	}

	.type-work {
		/*background-image: url(../img/filter-icon_@2x.png);*/
		background-size: 16px 16px;
	}
}
